body {
    margin: 0;
    background-color: #053A3D;
}

.container {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#flag {
    margin: 50px;
    width: 600px;
    height: 400px;
}

.flag_img {
    position: relative;
    background-image: url("turkey.jpeg");
    background-size: 600px 100%;
    width: 1px;
    height: 100%;
    display: inline-block;
    animation: wave 2s ease-in-out infinite alternate;
}

@keyframes wave {
    0% {
        top: 5%;
    }
    100% {
        top: -5%;
    }
}